@font-face {
  font-family: Taiga; /* Имя шрифта */
  src: url(fonts/Taiga.otf); /* Путь к файлу со шрифтом */
 }

@import url('https://fonts.googleapis.com/css?family=Raleway:500');

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  max-width: 1400px; /*70vw;*/
  margin: 0 auto;
}

.header {
  position: inherit;
  height: 800px;
  background: url("img/cover.jpg") no-repeat;
  /*background-size: 100%;*/
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-family: Taiga;
  font-size: 44px;
}

.cite {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: -5px;
  width: 100%;
  color: #1f98ad;
}

p.logo {
  margin: 0;
  padding: 0;
  text-align: center;
}

img.photo {
  width: 337px;
  object-fit: cover;
  margin-top: 10vw;
  border: 1vh solid rgba(255, 255, 255, 0.13);
  border-radius: 50%;
  background-color: rgba(215, 215, 215, 0.13);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.button {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.button li {
  text-decoration: none;
  display: inline-block;
}

.button li a {
  display: block;
  text-decoration: none;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  color: rgb(236, 240, 241);
  background-color: rgba(255, 255, 255, 0.051);
  border: 2px solid rgb(190, 190, 190);
  border-radius: 10px;
  line-height: 50px;
  text-align: center;
  width: 159px;
  margin: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/*############################################ main ##########################################*/

.header-main{
  width: 100%;
  background-color: #f3f3f3;
}

.header-main div {
  margin-left: 170px;
  margin-right: 170px;
  padding-bottom: 110px;
}

.header-main p {
  max-width: 534px;
  text-transform: uppercase;
}

.header-main span {
  text-transform: uppercase;
  font-weight: bold;
}

.main h2 {
  margin-top: 0;
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  color: #595959;
}

.main h3 {
  text-transform: uppercase;
}



@media only screen and (min-width : 120px) and (max-width : 700px) {
  .button li a {
    width: 100px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 5px;
    border-width: 1px;
  }

  img.photo {
    width: 100px;
    margin-top: 10px;
  }

  h1 {
    font-size: 18px;
  }

  .cite {
    padding-top: 10px;
    font-size: 13px;
  }

  .header {
    background-size: cover;
    height: 250px;
  }

  .header-main div {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
  }
}