body{
  background-color: #1f1f1f;
}

.section-slide{
  position: relative;
  width: 720px;
  height: 380px;
  margin: 0 auto;
  margin-top: 50px;
}

.slider{
  position: inherit;
  background-color: white;
  margin: 0;
  padding: 0;
  width: 720px;
  height: 380px;
}

.slide {
  width: 720px;
  height: 380px;
  position: absolute;
  list-style: none;
  z-index: 1;
}

.prev {
  position: absolute;
  left: -50px;
  top: 170px;
}

.next {
  position: absolute;
  top: 170px;
  left: 740px;
}

.show{
  z-index: 2;
  /*transition: all 0.5s ease-in-out;
  transform: translateX(720px);*/
}

.second {
  font-size: 0;
}

.second img{
  width: 720px;
  height: 380px;
  display: block;
}

.second .gallery {
  width: 720px;
  height: 380px;
  overflow: hidden;
}

.second .slider{
  width: 9999px;
  height: 380px;
  margin: 0;
  padding: 0;
  transition: margin-left 500ms;
}

.second .slide{
  position: relative;
  display: inline-block;
  list-style: none;
}

.second .prev{
  left: -50px;
}

.second .next{
  left: 740px;
}

