body {
  background-color: #1f1f1f;
}

.section-slide {
  position: relative;
  width: 720px;
  height: 380px;
  margin: 0 auto;
  margin-top: 50px;
}

.slider {
  position: inherit;
  background-color: white;
  margin: 0;
  padding: 0;
  width: 720px;
  height: 380px;
}

.slide {
  width: 720px;
  height: 380px;
  position: absolute;
  list-style: none;
  z-index: 1;
}

button {
  position: relative;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  border: none;
  font-size: 25px;
  text-align: center;
  color: white;
  background-color: #585858;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  padding: 0;
}

button.prev::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 10px;
  border: 10px solid transparent;
  border-right: 15px solid white;
}

button.next::after {
  content: '';
  position: absolute;
  left: 15px;
  bottom: 10px;
  border: 10px solid transparent;
  border-left: 15px solid white;
}

button:hover {
  cursor: pointer;
  background-color: #737373;
}

button:active {
  cursor: pointer;
  background-color: #585858;
}

.prev {
  position: absolute;
  left: -55px;
  top: 170px;
  padding-right: 2px;
}

.next {
  position: absolute;
  top: 170px;
  left: 735px;
  padding-left: 2px;
}

.show {
  z-index: 2;
  /*transition: all 0.5s ease-in-out;
  transform: translateX(720px);*/
}

.second {
  font-size: 0;
}

.second img {
  width: 720px;
  height: 380px;
  display: block;
}

.second .gallery {
  width: 720px;
  height: 380px;
  overflow: hidden;
}

.second .slider {
  width: 9999px;
  height: 380px;
  margin: 0;
  padding: 0;
  transition: margin-left 500ms;
}

.second .slide {
  position: relative;
  display: inline-block;
  list-style: none;
}

.second .prev {
  left: -55px;
}

.second .next {
  left: 735px;
}